<template name="footer">
	<footer id="footer-1" class="footer">
		<div class="container">
			
				<div class="footer-about-us col-sm-4 col-md-4">
					<h3>Who we are</h3>
					<p>Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. 	Fusce euismod auctor pulvinar. Donec in velit vel ipsum auctor pulvinar. Vesti bulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod auctor pulvinar.
						<a href="#" class="footer-about-us-btn btn btn-block btn-icon fa fa-group">Join us now</a>
					</p>
				</div>
				<div class="footer-feedback col-sm-4 col-md-4">
					<h3>FeedBack</h3>
					<form method="post" action="contact.php" id="contactForm">
						<div class="form">
							<input class="col-md-6" type="text" name="name" placeholder="Name">
							<input class="col-md-6" type="text" name="email" placeholder="E-mail">
							<textarea class="col-md-12" name="comment" rows="4" placeholder="Message"></textarea>
							<input type="submit" id="submit" class="btn" value="Get in Touch">
						</div>
					</form>
					
				</div>
				<div class="footer-contact col-sm-4 col-md-4">
					<h3>Contact Us</h3>
					<p>
						<i class="fa fa-home"></i>
							5th Avenue, London - England
					</p>
					<p>
						<i class="fa fa-phone"></i>
							01992 700 431 | 078 070 14056
					</p>
					<p>
						<i class="fa fa-skype"></i>
							NLS-Club
					</p>
					<p>
						<i class="fa fa-envelope-o"></i>
							enquires@nlsc.com
					</p>
				</div>
			
		</div>
	</footer>

	<footer id="footer-2" class="footer">
		<div class="container">
			
				<div class="col-xs-12 col-sm-6 footer-info-wrapper">
					<span>
						National Lotto Syndicate Club 2015. All Rights Reserved.
						<a href="#">Go Ahead . Change your Life.</a>
					</span>
				</div>
				<div class="col-xs-12 col-sm-6 footer-links-wrapper">
					<ul class="list-inline">
						<li>
							<a href="#">Privacy Policy</a>
						</li>
						<li>
							<a href="#">Terms of Use</a>
						</li>
						<li>
							<a href="#">Disclaimer</a>
						</li>
					</ul>
				</div>
			</div>
		
	</footer>
</template>